body {
  background-color: #fff;
  padding:50px;
  padding-top:20px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
body.centered {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:10px;
  color:#777;
  margin-top:-0.2em;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:100%;
  height:700px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom: none;
/*  border-bottom:1px solid #e5e5e5;*/
}

td.primary {
  width:350px;
  text-align:left;
  padding:5px 10px;
/*  border-bottom: none;*/
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:100%;
  float:left;
  /*position:fixed;
  z-index: 2;*/
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style-type: none;
  height:20px;
  padding:0;
  position: relative;
  right: 25px;
  /*
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
  */
  text-align:center;
}

header li {
  width:125px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:20px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  height:20px;
  background-color:#f0f0f0;
}

strong {
  color:#222;
  text-align:center;
  font-weight:700;
}

header ul li + li + li + li {
  border-right:none;
  width:125px;
}

header ul a strong {
  text-align:center;
  font-size:10px;
  color:#222;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  /*border-radius:0 5px 5px 0;*/
  border-right:none;
}

nav {
  position: relative;
}

section {
  width:50%;
  float:right;
  padding-bottom:50px;
}
section.left {
  width:100%;
/*  position:relative;
  top:25px;
  left:50px;*/
  float:left;
  padding-bottom:50px;
}

small {
  font-size:10px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:45%;
  float:left;
  position:fixed;
  left:30px;
  bottom:0px;
  -webkit-font-smoothing:subpixel-antialiased;
}

div.description {
  margin:auto;
  width:40%;
  padding-right:50px;
  float:left;
}

div.processing {
  width:100%;
  float:right;
  position: relative;
  top: -20px;
}

#halfedge {
  margin:auto;
  box-shadow: 5px 5px 10px 5px #888888;
}

#container {/*
    width: 100px;
    float: right;
    height: 100px;*/
    position: relative;
}

#exampleDisplay {/*, #exampleFrame, #exampleEditor {*/
    /*width: 100%;
    height:100%;
    height:500px;
    overflow:scroll;*/
    border: none;
}

div.frame {
  width: 400px;
	/* height: 700px; */
	float: right;
	position: relative;
  left:15ex;
  /*height:100%;*/
  /*height:50px;*/
  /*position: static;*/
  /*right:30px;*/
  /*top: 50px;*/
} #exampleFrame {
    float:left;
    width:400px;
    height:400px;
    /*position: relative;*/
    /*position: absolute;
    left: 50px;
    top: 170px;*/
    /*padding: 1em;
    position:absolute;
    left:0;
    margins:auto;*/
    box-shadow: 5px 5px 10px 5px #888888;
}
#exampleDisplay .ctl_button {
  position: relative;
  float:left;
  bottom:10px;
}
div.ace {
    margin: auto;
    /* padding-right: 50px; */
    float: left;
    width: 85%;
    /* padding-right: 50px; */
    /* float: right; */
    position: absolute;
    top: 110px;
    left: -230px;
} #exampleDisplay .edit_space {
    float: left;
    position: relative;
    left: 100px;
		bottom: 40px;
    /*position:static;
    top: 200px;
    right:0;*/
} #exampleDisplay button {
    color: #2D7BB6;
    border-color: rgba(45,123,182, .25);
    float: right;
    margin: 0.5em 0 0 0.5em;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
} #exampleDisplay .edit_button {
  left: 29em;
} #exampleDisplay .reset_button {
  left: 32em;
} #exampleDisplay .dropdown {
  /*float: right;*/
  position: absolute;
  left: 8em;
  margin: 0.75em 0 0 1em;
}


#exampleEditor {
    /*height: 100%;*/
    /*width: 500px;*/
    /*position: relative;
    left: 100px;
    float:right;*/
    /*overflow: scroll;*/
    margin-top: 0.5em;
    color: #222;
    font-family:
            inconsolatamedium,
            Consolas,
            Monaco,
            'Andale Mono',
            monospace;
    font-size: 0.85em !important;
    background-color: #FFF;
    line-height: 1em;
}

@media (min-width: 720px) {

    #container {
        margin: 2em auto;
        width: 49em;
        padding: 0;
        height: auto;
        min-height: 100%;
        background-color: rgba(51, 51, 51, 0.0);

    }

    @media print, screen and (max-width: 960px) {

        div.wrapper {
            width: auto;
            margin: 0;
        }

        header, section {
            position: static;
            width: auto;
        }

        footer {
            position: static;
            width: 300px;
        }

        header {
            padding-right: 320px;
        }

        section {
            border: 1px solid #e5e5e5;
            border-width: 1px 0;
            padding: 20px 0;
            margin: 0 0 20px;
        }

        header a small {
            display: inline;
        }

        /*header ul {
          position:absolute;
          right:50px;
          top:52px;
        }*/
    }

    @media print, screen and (max-width: 720px) {
        body {
            word-wrap: break-word;
        }

        header {
            padding: 0;
        }

        header ul, header p.view {
            position: relative;
        }

        pre, code {
            word-wrap: normal;
        }
    }

    @media print, screen and (max-width: 480px) {
        body {
            padding: 15px;
        }

        /*header ul {
          width:99%;
        }*/
        /* header li, header ul li + li + li {
           width:70%;
         }*/
    }

    @media print {
        body {
            padding: 0.4in;
            font-size: 12pt;
            color: #444;
        }
    }
}
